bokeh==0.10
git+git://github.com/mila-udem/blocks.git -r https://raw.githubusercontent.com/mila-udem/blocks/master/requirements.txt
git+git://github.com/mila-udem/fuel.git
git+git://github.com/mila-udem/blocks-extras.git
git+git://github.com/Theano/Theano.git
numpy
matplotlib
ipython
jupyter
